body{
    padding: 0;
    margin: 0;
}
.top-body {
    margin: 0 auto;
    display: table;
    overflow: hidden;
    width: 960px;
    height: 500px;
    z-index: 4;
    top:0;
    position: relative;
}
.top {
    position: absolute;
    z-index: 3;
}
.Casrusell {
    position: relative;
   height: 500px;
    vertical-align: middle;
}


.img
{

   display: block;
margin: auto;

}
.top-button {
    margin: 0 auto;
    display: table;
    top: -3px;

}
