span {
    height: 25px;
    width: 25px;
    margin: 2px;
    display: inline-block;

}
#mat {
    width: 570px;
    height: 100px;
    margin-left: 50px;
    position: relative;
    left: 390px;
    top:40px;
}
.input {
    width: 100px;
    background-position: center;
    position:inherit;
    margin-left: 150px;
}
#button {

    width: 150px;
    background-position: center;
    position: relative;
    margin-left: 500px;
    top: 10px;
}